﻿@model HomePets.WebApp.Models.AgendaPasseioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Nova solicitação de agenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Insert">
            <input asp-for="Id" hidden="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHorario" class="control-label"></label>
                <input asp-for="DataHorario" class="form-control" />
                <span asp-validation-for="DataHorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPet" class="control-label">Pet</label>
                @Html.DropDownListFor(x => x.IdPet, Model.Pets, null, new { @class = "form-control" })
                <span asp-validation-for="IdPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
