﻿@model IEnumerable<HomePets.WebApp.Models.AgendaPasseioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendas de Passeios</h1>

<p>
    <a asp-action="Create">Criar nova solicitação de passeio</a>
</p>
<table class="table">
    <caption>Tabela de donos de pets</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataHorario)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NomePet)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RacaPet)
            </th>
            <th scope="col" class="col-width">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHorario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RacaPet)
                </td>
                <td>
                    @Html.ActionLink("Iniciar passeio", "IniciarPasseio", "Passeio", new { idAgenda = item.Id }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
