﻿@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>No nosso site você pode requisitar passeios e também trabalhar como passeador</a>.</p>
</div>
