﻿@model HomePets.WebApp.Models.PasseioModel

@{
    ViewData["Title"] = "AvaliarPasseio";
}

<h1>AvaliarPasseio</h1>

<h4>PasseioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarPasseioComNota">
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
