﻿@model IEnumerable<HomePets.WebApp.Models.PasseioModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Passeios Ativos</h1>

<table class="table">
    <caption>Tabela de passeios ativos</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataHoraAgenda)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TempoPasseio)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PasseioPago)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NomePasseador)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraAgenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoPasseioString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasseioPagoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePasseador)
            </td>
            <td>
                @Html.ActionLink("Finalizar Passeio", "FinalizarPasseio", new { idPasseio = item.Id }) |
                @Html.ActionLink("Avaliar Passeio", "AvaliarPasseio", new { idPasseio = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
