﻿@model HomePets.WebApp.Models.PasseioModel

@{
    ViewData["Title"] = "IniciarPasseio";
    var method = Model.EstaFinalizando ? "AtualizarPasseioParaFinalizado" : "InserirPasseio";
    var title = Model.EstaFinalizando ? "Finalizar Passeio" : "Iniciar Passeio";
}

<h1>@title</h1>

<h4>Dados do Passeio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action=@method>
            <input asp-for="Id" hidden="hidden" />
            <input asp-for="IdAgenda" hidden="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.EstaFinalizando)
            {
                <div class="form-group">
                    <label asp-for="TempoPasseio" class="control-label"></label>
                    <input asp-for="TempoPasseio" class="form-control" />
                    <span asp-validation-for="TempoPasseio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValorTotal" class="control-label"></label>
                    <input asp-for="ValorTotal" class="form-control" />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="PasseioPago" /> @Html.DisplayNameFor(model => model.PasseioPago)
                    </label>
                </div>
            }
            <div class="form-group">
                <label asp-for="IdPasseador" class="control-label"></label>
                @Html.DropDownListFor(x => x.IdPasseador, Model.Passeadores, null, new { @class = "form-control" })
                <span asp-validation-for="IdPasseador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista de Passeios</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
