﻿@model IEnumerable<HomePets.WebApp.Models.UsuarioModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>Passeadores cadastrados</h1>

<p>
    <a asp-action="Create">Novo passeador</a>
</p>
<table class="table">
    <caption>Tabela de passeadores</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th scope="col" class="col-width">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario)
                </td>
                <td>
                    <div> @Html.ActionLink("Editar", "Edit", new { id = item.Id })     <em class="fa fa-edit"></em></div> |

                    <div>@Html.ActionLink("Nota média", "AverageGrade", new { id = item.Id })     <em class="fa fa-sort-numeric-asc"></em></div> |

                    <div>@Html.ActionLink("Passeios realizados", "VisualizarPasseios", new { id = item.Id })     <em class="fa fa-handshake-o"></em></div>

                </td>
            </tr>
        }
    </tbody>
</table>
