﻿@model HomePets.WebApp.Domain.NotaMediaPasseadorDto

<h1>Seus passeios</h1>


    <h5>Passeador: @Model.Nome</h5>
    <hr />
    <h5>Nota média dos passeios: @Model.NotaMedia</h5>
    <hr />
    <h5>Total de passeios: @Model.QtdePasseios</h5>
