﻿@model IEnumerable<HomePets.WebApp.Models.PasseioModel>

@{
    ViewData["Title"] = "VisualizarPasseios";
}

<h1>Visualizar seus passeios</h1>


<table class="table">
    <caption>Visualização de passeios por passeador</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdAgenda)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TempoPasseio)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PasseioPago)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NomePet)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdPasseador)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAgenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoPasseio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasseioPagoString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPasseador)
                </td>
            </tr>
        }
    </tbody>
</table>
